<div class="jumbotron text-center">
<h1> Attribute Directive</h1>
</div>

<div class="container">
  <div class="row">
      <div class="col-md-12">
      <h2> ngStyle , ngClass and  ngModel </h2>
      <hr>
      <strong>ng style</strong>
      <input type="text" name="text1" class="form-control" [ngStyle]="{'color':'red'}"><br>

       <strong>change textbox style on ngModel</strong>

<input type="text" name="text2" class="form-control" [ngStyle]="{'background-color' :colorChange}" [(ngModel)]="colorChange">

<br>
<strong>Change Class of the Componnent using ngClass</strong>
<br><br>
<div [ngClass]="{jumbotron : abc}"> <h1>Change My Class</h1> </div> 

<input type="button" name="btn1" class="btn btn-primary" value="Change style" (click)="abc =!abc">
</div>
</div>